{extends file="main.html"}
		
{block name=content}
<!-- Wrapper-->
<div id="wrapper">

	<!-- Nav -->
	<nav id="nav" class="navMenu">
		<a href="#" class="icon solid fa-home"><span>Home</span></a>
		<a href="#calculate" class="icon solid fa-envelope"><span>Calculator</span></a>
		{if inRole('admin')}
			<a href="{$conf->action_url}chronionaView" class="icon solid fa-user-secret"><span>Chroniona</span></a>
		{/if}
		<a href="{$conf->action_url}logout" class="icon solid fa-fingerprint"><span>Wyloguj</span></a>
	</nav>	

	<!-- Main -->
	<div id="main">


		<!-- Me -->
		<article id="home" class="panel intro">
			<header>
				<h1>Kalkulator delty</h1>
				<p>Jakub Linnert</p>
				<p>użytkownik: {$user->login}</p>
				<p>rola: {$user->role}</p>
			</header>
			<a href="https://github.com/ddavmy" target="_blank" class="jumplink pic">
				<img src="{$conf->app_url}/assets/images/def.jpg" alt="" />
			</a>
		</article>

		<!-- Contact -->
		<article id="calculate" class="panel">
			<header>
				<h2>Twoja Delta~</h2>
			</header>
			<form action="{$conf->action_url}calcCompute#calculate" method="post">
				<div>
					<div class="col">
						<div class="col-6 col-12-medium">
							<input type="text" name="a" autocomplete="off" placeholder="Podaj a" value="{$form->a}"/>
						</div>
						<div class="col-6 col-12-medium">
							<input type="text" name="b" autocomplete="off" placeholder="Podaj b" value="{$form->b}"/>
						</div>
						<div class="col-12">
							<input type="text" name="c" autocomplete="off" placeholder="Podaj c" value="{$form->c}"/>
						</div>
						<div class="col-6">
							<input type="submit" value="Oblicz mnie! :3" />
							{if inRole('admin')}
								<a href="{$conf->app_url}#calculate"><input class="button" type="button" value="Reset x_x"/></a>
							{/if}
						</div>
					</div>
				</div>
			</form>
			<div>
				{include file='messages.html'}

				{if $msgs->isWynik()}
				<h3>Wynik:</h3>
				<div>
					<ol class="wyn">
					{foreach $msgs->getWyniki() as $w}
					{strip}
						<li>{$w}</li>
					{/strip}
					{/foreach}
					</ol>
				</div>
				{/if}

				{include file='wynik.html'}

			</div>
		</article>
		
		{include file='scripts.html'}

{/block}